@using System.Web.Optimization
@using Newtonsoft.Json
@model NuGetGallery.Dashboard.ViewModel.LayoutModel
@{
    var clientModel = Model.GetClientModel();
    var clientModelJson = clientModel == null ? null : JsonConvert.SerializeObject(clientModel, Formatting.None, Global.SerializerSettings);
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NuGet Gallery Dashboard - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/styles")
</head>
<body data-model="@clientModelJson">
    <nav id="site-header" class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                @if(Model.IsAdmin) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cogs"></i>
                            <span class="hidden-phone">Admin</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("ReloadConfig", "Home")">
                                    <i class="icon-refresh"></i>
                                    Reload Config
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("SignOut", "Home")">
                            <i class="icon-signout"></i>
                            <span class="hidden-phone">Logout @Model.User.DisplayName</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Model.LoginUrl">
                            <i class="icon-signin"></i>
                            <span class="hidden-phone">Administrator Login</span>
                        </a>
                    </li>
                }
            </ul>
            <a class="brand hidden-phone" href="/">NuGet Gallery Dashboard</a>
            <a class="brand visible-phone" href="/">Dashboard</a>
        </div>
    </nav>

    <div id="root-container" class="container-fluid">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/Scripts/lib/script")
    @RenderSection("BottomScripts", required: false);
</body>
</html>
